{% extends 'main/base.html' %}

{% block title %}
Нейро
{% endblock %}

{% block content %}

    <div class="d-flex flex-column flex-md-row pb-3 mb-4">
        <div class="d-flex">
            <div class="container">
                <img class="header-logo-image" src="static\img\podcast_logo.svg" alt="podcast_logo" width="100%" height="=auto"><br><br><br>
                <h1>О проекте</h1>
                <p class="justify">Первоочередная цель данного проекта - помочь Вам получать радость непосредственно от жизни, а не от сиюминутных удовольствий, которые зачастую очень пагубны в долгосрочной перспективе.</p>
                <p class="justify">Достигать эту цель мы будем при помощи обсуждения научных подходов по оптимизации таких сфер жизни как сон, продуктивность, питание, тренировки (как силовые так и на выносливость), настроение, мотивация, отдых и многое другое.</p>
                <p class="justify">В подкастах я рассказываю о научных исследованиях и моем опыте применения науки в повседневной жизни.</p>
                <section>
                    <ul id="services" class="ul_margin">
                          <li>
                              <div class="youtube">
                                <a href="https://www.youtube.com/channel/UChZmqVg1c3TrihryjQzpdhg">
                                  <i class="fa fa-youtube" aria-hidden="true"></i>
                                </a>
                              </div>
                          </li>
                          <li>
                            <div class="vk">
                                <a href="https://vk.com/nso_neuro">
                                  <i class="fa fa-vk" aria-hidden="true"></i>
                                </a>
                            </div>
                          </li>

                          <li>
                              <div class="instagram">
                                <a href="https://instagram.com/_al_pavlov/">
                                  <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                              </div>
                          </li>
                <!--           <li>-->
                <!--          <div class="telegram">-->
                <!--            <a href="https://www.linkedin.com/company/colorlib">-->
                <!--              <i class="fa fa-telegram" aria-hidden="true"></i>-->
                <!--            </a>-->
                <!--          </div>-->
                <!--          <span>Telegram</span>-->
                <!--        </li>-->
                      </ul>
                </section>
            </div>
        </div>
        <a class="d-inline-flex mt-2 mt-md-0 ms-md-auto box">
            <img class="box" src="static\img\me2.jpg" alt="photo" width="100%" height="auto" >
        </a>
    </div>

{% endblock %}